


.pop-img{
  overflow: hidden;
  padding: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.pop-img img{
	-webkit-transition: all 0.5s ease; /* Safari - Chrome */
	-moz-transition: all 0.5s ease; /* Firefox */
	-ms-transition: all 0.5s ease; /* IE 9 */
	-o-transition: all 0.5s ease; /* Opera */
	transition: all 0.5s ease;
}

.pop-img:hover img {  
	-webkit-transform:scale(1.15); /* Safari - Chrome */
	-moz-transform:scale(1.15); /* Firefox */
	-ms-transform:scale(1.15); /* IE 9 */
	-o-transform:scale(1.15); /* Opera */
	transform:scale(1.15);
}






